{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>entry</h1>
<form class="needs-validation" novalidate method="POST" action="/entry_submit">
    <div class="mb-3">
        <input type="hidden" class="form-control" name="lat" value="{{lat}}" required>
    </div>
    <div class="mb-3">
        <input type="hidden" class="form-control" name="lng" value="{{lng}}" required>
    </div>
    <div class="mb-3">
        <label for="date">日付</label>
        <input type="date" class="form-control" name="date" required>
        <small class="form-text text-muted">
            訪れた年月日を選択してください
        </small>
    </div>
    <div class="mb-3">
        <label for="destination">旅行先</label>
        <input type="text" class="form-control" name="destination" required>
        <small class="form-text text-muted">
            旅行先を入力してください
        </small>
    </div>
    <div class="mb-3">
        <label for="category">分類</label>
        <select class="custom-select d-block w-100" name="category" id="categoryselect" required>
            <option disabled selected>選択してください</option>
            {% for element in init_category_list %}
            <option>{{element}}</option>
            {% endfor %}
        </select>
        <small class="form-text text-muted">
            訪問先のカテゴリを選択してください
        </small>
        <div>
            <input type="text" class="form-control" id="added_category">
            <button type="button" class="btn btn-primary" onclick="addCategory()">分類を追加する</button>
            <small class="form-text text-muted">
                新しいカテゴリを入力して追加できます
            </small>
        </div>
    </div>
    <div class="mb-3">
        <label for="spot_name">場所の名前</label>
        <input type="text" class="form-control" name="spot_name" required>
        <small class="form-text text-muted">
            場所の名前を選択してください
        </small>
    </div>
    <div class="mb-3">
        <label for="address">住所</label>
        <input type="text" class="form-control" name="address" value="{{address}}" required>
        <small class="form-text text-muted">
            クリックした箇所の住所が自動で入力されます。修正が可能です。
        </small>
    </div>
    <div class="mb-3">
        <label for="note">備考</label>
        <input type="text" class="form-control" name="note" required>
        <small class="form-text text-muted">
            備考を入力してください
        </small>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">地点登録する</button>
</form>
{% endblock %}
