{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>entry</h1>
<form class="needs-validation" novalidate method="POST" action="/entry_submit">
    <div class="mb-3">
        <input type="hidden" class="form-control" name="lat" value="{{lat}}" required>
    </div>
    <div class="mb-3">
        <input type="hidden" class="form-control" name="lng" value="{{lng}}" required>
    </div>
    <div class="mb-3">
        <label for="date">日付</label>
        <input type="date" class="form-control" name="date" required>
        <div class="invalid-feedback">
            日付を入力してください。
        </div>
    </div>
    <div class="mb-3">
        <label for="destination">旅行先</label>
        <input type="text" class="form-control" name="destination" required>
        <div class="invalid-feedback">
            旅行先を入力してください。
        </div>
    </div>
    <div class="mb-3">
        <label for="category">分類</label>
        <select class="custom-select d-block w-100" name="category" required>
            <option disabled selected>選択してください</option>
            <option>自然</option>
            <option>レストラン</option>
            <option>施設</option>
        </select>
        <div class="invalid-feedback">
            分類を選択してください。
        </div>
    </div>
    <div class="mb-3">
        <label for="spot_name">場所の名前</label>
        <input type="text" class="form-control" name="spot_name" required>
        <div class="invalid-feedback">
            場所の名前を入力してください。
        </div>
    </div>
    <div class="mb-3">
        <label for="address">住所</label>
        <input type="text" class="form-control" name="address" value="{{address}}" required>
    </div>
    <div class="mb-3">
        <label for="note">備考</label>
        <input type="text" class="form-control" name="note" required>
        <div class="invalid-feedback">
            備考を入力してください。
        </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">地点登録する</button>
</form>
{% endblock %}
