{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmW5xeN7EzTWXpzdzwL_EJnJRpYM8sApk&callback=initMap">
</script>
{% endblock %}
{% block content %}
<h1>index</h1>
<div class="map">
    ここにマップを表示する
    <script>
        var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
        var Options = {
         zoom: 15,      //地図の縮尺値
         center: MyLatLng,    //地図の中心座標
         mapTypeId: 'roadmap'   //地図の種類
        };
        var map = new google.maps.Map(document.getElementById('map'), Options);
    </script>
</div>
{% endblock %}
